<div class="{{blurCss}}">

  <ul class="nav">

    <li>
      <div style="position:relative;width:25px;height:100%"></div>
    </li>


    <li class="nav-item">
      <a href="#">
        <div class="d-flex align-items-center">
          <img class="nav-logo" src="assets/logo.png" alt="EnTier Logo">
          <h1 class="nav-title" style="display: inline">EnTier</h1>
        </div>
        <small>EnTier Event-Store's Event Browser</small>
      </a>
    </li>

  </ul>

  <hr>

  <div class="container">

    <router-outlet></router-outlet>

  </div>


  <footer class="footer footer-eswebview w-75 py-3 position-relative bottom-0 start-50 translate-middle-x">
    <hr class="breadcrumb-border">
    <div class="container">
      <ul class="nav justify-content-center">
        <li>
          <a href="">
            <img width="48px" height="48px"
                 alt="NuGet Home" src="assets/nuget.logo.svg"
                 class="footer-icon" style="border-radius: 128px;"></a>
        </li>
        <li><a href="https://github.org/acidmanic/entier">
          <img width="48px" height="48px" alt="Github page" src="assets/github.logo.svg"
               class="footer-icon" style="border-radius: 128px;"></a>
        </li>
      </ul>
    </div>
  </footer>

</div>
