


<div class="container">
  <div class="row">
    <div class="col-6"><b>Aggregate:</b></div>
    <div class="col-6">{{aggregate.aggregateType}}</div>
  </div>
  <div class="row">
    <div class="col-6"><b>Aggregate Root:</b></div>
    <div class="col-6">{{aggregate.aggregateRootType}}</div>
  </div>
  <div class="row">
    <div class="col-6"><b>EventType Type:</b></div>
    <div class="col-6">{{aggregate.eventType}}</div>
  </div>
  <div class="row">
    <div class="col-6"><b>Stream Id Type:</b></div>
    <div class="col-6">{{aggregate.streamIdType}}</div>
  </div>
  <div class="row">
    <div class="col-6"><b>Event Id Type:</b></div>
    <div class="col-6">{{aggregate.eventIdType}}</div>
  </div>
  <div class="row">
    <div class="col-6"><b>Total Events Stored:</b></div>
    <div class="col-6">{{aggregate.totalEvents}}</div>
  </div>
</div>

